<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
		<servlet>
			<servlet-name>search</servlet-name>
			<servlet-class>com.employee.SearchServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>search</servlet-name>
			<url-pattern>/search</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>EmployeeInsert</servlet-name>
			<servlet-class>com.employee.EmployeeInsert</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>EmployeeInsert</servlet-name>
			<url-pattern>/insert</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>EmployeeUpdate</servlet-name>
			<servlet-class>com.employee.EmployeeUpdateServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>EmployeeUpdate</servlet-name>
			<url-pattern>/update</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>EmployeeDelete</servlet-name>
			<servlet-class>com.employee.EmployeeDeleteServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>EmployeeDelete</servlet-name>
			<url-pattern>/delete</url-pattern>
		</servlet-mapping>

</web-app>