@charset "ISO-8859-1";

.bodybg{
	
	background-image: url("../Images/bg3.jpg");
background-size: cover;
  background-repeat: no-repeat;
}


/*add Supplier*/
        /* Side bar/left coloumn */
        
        .side { width: 20%;
            -ms-flex: 30%;
            float: 30%; height: 900px;
            
           
        }
        
         .mainAddInv{
         font-weight:bold; font-size:18px; text-shadow: 2px 2px 4px #ffffff;
            -ms-flex: 70%; margin-left:-10px;
            flex: 10%;width: 50%;
            background-color: rgb(230, 230, 230, 0.6);
            padding: 50px 20px 0px 70px; 
           }
           
           
           .mainViewInv{
            -ms-flex: 70%; margin-left:-10px;
            flex: 10%;width: 50%;
            background-color: rgb(230, 230, 230, 0.6);
            padding: 50px 20px 0px 20px; 
           }
        
.imglogo{
  margin-left: 48px;
	}
	
.title1{
	letter-spacing: 3px; font-weight:bold; font-size:34px;
	margin-left: 200px; margin-bottom:20px
	}
	
	.title2{
	letter-spacing: 3px; font-weight:bold; font-size:34px;
	margin-left: 400px; margin-bottom:70px; text-shadow: 2px 2px 4px #ffffff;
	}
	
.invalid-feedback{
	text-shadow: 2px 2px 4px #ffffff; font-weight:500;
}

.btn1{
	border: 5px solid black;
}












