<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Inventory_Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>validateloginservlet</servlet-name>
    <servlet-class>inventory_management.ValidateLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateloginservlet</servlet-name>
    <url-pattern>/validatelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addnewitemservlet</servlet-name>
    <servlet-class>inventory_management.AddNewItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnewitemservlet</servlet-name>
    <url-pattern>/addnewitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteitemservlet</servlet-name>
    <servlet-class>inventory_management.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteitemservlet</servlet-name>
    <url-pattern>/deleteitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateitemservlet</servlet-name>
    <servlet-class>inventory_management.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateitemservlet</servlet-name>
    <url-pattern>/updateitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatefinservlet</servlet-name>
    <servlet-class>inventory_management.UpdateFInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatefinservlet</servlet-name>
    <url-pattern>/updatefin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletefinservlet</servlet-name>
    <servlet-class>inventory_management.DeleteFInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletefinservlet</servlet-name>
    <url-pattern>/deletefin</url-pattern>
  </servlet-mapping>
</web-app>